<mat-card>Ingrese los datos de la Paciente</mat-card>
<br>
<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmPaciente="ngForm">
  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="idPaciente">
    </mat-form-field>
  </div>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el nombre del paciente" required formControlName="nombrePaciente">
  </mat-form-field>  

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el rut del paciente" required formControlName="rutPaciente">
  </mat-form-field>  

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el email del paciente" required formControlName="email">
  </mat-form-field>  

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el telefono del paciente" required formControlName="numTelefono">
  </mat-form-field>  

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese el tipo de sangre del paciente" required formControlName="tipoSangre">
  </mat-form-field>  

  <mat-form-field class="example-full-width">
    <input matInput placeholder="ingrese la fecha" required formControlName="fecha">
  </mat-form-field>  

    <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/paciente' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
</form>