<mat-card>Ingrese los datos del Medico</mat-card>
<br>
<form class="example-container" [formGroup]="form" #frmMedico="ngForm">
  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>
   <mat-form-field class="example-full-width">
    <input matInput placeholder="run" required [(ngModel)]="run" formControlName="run">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="apellidos" required formControlName="apellidos" [(ngModel)]="apellidos">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="nombres" required formControlName="nombres" [(ngModel)]="nombres">
  </mat-form-field>  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="direccion" required formControlName="direccion" [(ngModel)]="direccion">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="telefono" required formControlName="telefono" [(ngModel)]="telefono">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="email" required formControlName="email" [(ngModel)]="email">
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="Especialidad" matInput [matAutocomplete]="autoEspecialidad" [formControl]="myControlEspecialidad"  formControlName="especialidad">
    <mat-autocomplete #autoEspecialidad="matAutocomplete" [displayWith]="displayFnEspecialidad" (optionSelected)="seleccionarEspecialidad($event)">
      <mat-option *ngFor="let m of filteredOptionsEspecialidad | async" [value]="m">
         {{m.descripcion}}
      </mat-option>
    </mat-autocomplete>        
</mat-form-field>
<button mat-raised-button color="primary" type="button" (click)="agregar()" [disabled]="validarDetalle()">Agregar Detalle</button>
  <mat-toolbar *ngIf="lista_especialidades.length===0">no hay especialidad agregadas</mat-toolbar>
  <mat-list role="list" *ngFor="let d of lista_especialidades; let i=index">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{i+1}} {{d.especialidad.descripcion}}
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <br>
        <button mat-raised-button color="warn" (click)="removerDetalle(i)">Remover</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-list> 
    <button mat-raised-button color="primary" type="submit" [disabled]="validarForm()" (click)="operar()">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/medico' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
</form>

